body {
    margin: 0;
    background-color: #E5ECF4;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

.loginbox {

    /* Primary White */
    background: #FFFFFF;
    border-radius: 50px;

}

.loginbutton {
    background-color: #4877AD !important;
    color: #FFFFFF !important;
    border-radius: 15px !important;
}

.profile {
    font-size: 30px;
    margin-bottom: 10px;
}

.em-number {
    text-align: left;
    position: relative;
    bottom:40px;
    font-size: 10px;
    font: bold;
    left: 30px;
}

.emp-img {
    border-radius: 50%;
    width: 100px;
    height:100px;
    position: relative;
    bottom: 40px;
}

.emp-mail{
    color:#4877AD;
    bottom:38px;
    font-size: 5px;
}

.va-work{
    color:blueviolet;
    font-size: 10px;
    right: 30px;
}