body {
    margin: 0;
    background-color: #E5ECF4;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

.bg-primary-alice-blue {
    background-color: #E5ECF4 !important;
}

.loginbox {

    /* Primary White */
    background: #FFFFFF;
    border-radius: 50px;

}

.border-blue {
    border: 1px solid #4877AD !important;
}

.loginbutton {
    background-color: #4877AD !important;
    color: #FFFFFF !important;
    border-radius: 15px !important;
}

.text-color-primary-yonder {
    color: #4877AD !important;
}

.header-text-purple-color {
    color: #8A4FFF;
    font-size: large;
}

.primary-blue-border-text-color {
    border: 1px solid #4877AD !important;
    color: #4877AD !important;
    background-color: white !important;
    font-size: large !important;
    font-weight: bolder !important;
}

.bg-primary-blue {
    background-color: #4877AD !important;
}

.primary-white-text-color {
    color: white !important;
    font-size: large !important;
    font-weight: bold !important;
}

.primary-blue-text-color {
    color: #4877AD !important;
    font-size: large !important;
    font-weight: bolder !important;
}

.dashboard-card-border-radius {
    border-radius: 50px;
}

.font-size-lg {
    font-size: larger;
}

.text-decoration-underline {
    text-decoration: underline;
}
.employeebox {

    /* Primary White */
    background: #FFFFFF;
    border-radius: 50px;

}
.employeeboxP {

    /* Primary White */
    background:#CCDDF1;
    border-radius: 50px;
    margin-left: 10px;
    margin-right: 10px;


}
.employeeAcc{
    font-size: 15px;
    font-weight: bold;
    

}
.employeeRoot{
    width: 98%;
    margin-right: 10px;
    margin-left: 10px;
}
.accbg{

    background-color: #E5ECF4 !important;
    border-radius: 10px;
}
.colorP{
    background-color:#4877AD !important;
}

.background-light-blue {
    background-color: #CCDDF1 !important;
}

.bg-light-green {
    background-color: #C1F1D5 !important;
}

.bg-light-red {
    background-color: #FFC7C3 !important;
}

#wp-accordion {
    background-color: #E5ECF4 !important;
    border-radius: 50px !important;
}

.btn-border-text-blue {
    border-radius: 10px !important;
    border-color: #4877AD !important;
    color: #4877AD !important;

}

.border-radius-15 {
    border-radius: 15px !important;
}

.border-radius-50 {
    border-radius: 50px !important;
}

.border-radius-cicle {
    border-radius: 100%;
}

.modal-content {
    border: none !important;
}

#add-modal-wp {
    min-width: 700px !important;
}

.border-right-solid {
    border-right: 1px solid #9F9F9F;
}
